<button onclick="window.location.href='/'">Neu starten</button> <br>
<button onclick="downloadZip()">Download als ZIP</button>

   <!--
<div class="table-container">
   <table class="table-gallery">
        <tbody>
        {% for image_path in images %}
        <tr class="gallery-row">
            <td class="gallery-cell">
                <a href="{{ url_for('static', filename='outputs/' + image_path) }}" data-lightbox="badges" data-title="{{ image_path }}">
                    <img src="{{ url_for('static', filename='outputs/' + image_path) }}" alt="Vorschau">
                </a>
            </td>
            <td class="gallery-cell">{{ image_path }}</td>
            <td class="gallery-cell">
              <a href="{{ url_for('download_image', filename=image_path) }}">Download</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table> 
    </div>
-->
    
    <div class="image-grid">
    {% for image_path in images %}
    <div class="image-item">
        <a href="{{ url_for('static', filename='outputs/' + image_path) }}" data-lightbox="badges" data-title="{{ image_path }}">
            <img src="{{ url_for('static', filename='outputs/' + image_path) }}" alt="Vorschau">
            <a href="{{ url_for('download_image', filename=image_path) }}" class="download-btn">&#x2193;</a>
        </a>
    </div>
    {% endfor %}
    </div>





